  .upgrade {
     position: absolute;
    top: 0;
    right: 0;
  
  }
  body {
    background-color: #fffeb3;
  }






  img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the image within its container */
  width: 275px;
  height: auto;
  transition: transform 0.2s ease-in-out; /* Retains the smooth animation */
}


img.clicked {
  transform: scale(1.2); /* Scale the image up when clicked */
}

  .img {
  margin: 0 auto;
  width: 300px;
  height: auto;
}

.counter {
  font-size: 60px;
}

.Shop1 { 
    position: relative; /* Container needs to be relatively positioned */
}

.Shop1 img {
    position: absolute; 
    bottom: 0;      /* Stick to the bottom */
    right: 0;       /* Stick to the right */
}
